.article {
  width: 940px;
  border-radius: 5px;
  &__inner {
    background-color: #ffffff;
    min-height: 140px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 15px 14px 24px 16px;
    border-radius: 5px;
  }
  &__info {
    display: block;
    max-width: 660px;
    word-break: break-all;
  }
  &__title-wrapper {
    display: flex;
    align-items: center;
  }
  &__title {
    display: inline-flex;
    flex-wrap: wrap;
    margin-right: 13px;
    margin-bottom: 0;
    font-size: 20px;
    color: #1890ff;
    font-weight: 400;
  }
  &__like-wrapper {
    display: flex;
    align-items: center;
  }
  &__likes {
    width: 16px;
    height: 16px;
    border: none;
    margin-right: 5px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__count {
    font-size: 12px;
    line-height: 22px;
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
  }
  &__tag {
    display: inline-block;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    margin-right: 8px;
    margin-bottom: 8px;
  }
  &__text {
    font-size: 12px;
    line-height: 22px;
    margin-top: 4px;
    color: rgba(0, 0, 0, 0.75);
  }
  &__user {
    display: flex;
    justify-content: flex-end;
    width: 200px;
  }
}

.user-info {
  display: flex;
  margin-bottom: auto;
  justify-content: space-between;
  column-gap: 12px;
  grid-template-rows: 2fr;

  &__name {
    word-break: break-word;
  }
  &__date {
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
  }
  &__avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    img {
      max-width: 100%;
    }
  }
}

.active {
  &::before {
    background: url('../../assets/icons/favourited.svg') no-repeat center center;
  }
}

img {
  vertical-align: unset;
}
